@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

:root {
    --light-color: #EDF5E1;
    --blue-highlight: #2E9CCA;
    --hover-highlight: #29648A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;    
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: "Overpass Mono", sans-serif;
    padding-top: 1rem;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    color: var(--light-color);
}

body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    height: 4rem;
}

header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: var(--blue-highlight);
}

main {
    padding: 4rem 1rem;
    display: grid;
    grid-template-areas: "banner  banner    banner"
                         "about   projects  external";
    align-items: center;
    justify-items: space-around;
}

@media only screen and (max-width: 800px) {    
    main {
        padding: 6rem 1rem;
        grid-template-areas: "banner"
                             "about"
                             "projects"
                             "external";
    }
}
    
.highlight-underline {
    text-decoration: underline;
    text-decoration-color: var(--blue-highlight);
}

.main-link a {
    text-decoration: underline;
    text-decoration-color: var(--blue-highlight);
    color: var(--light-color);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.main-link a:hover {
    border: 1px solid var(--hover-highlight);
    border-radius: 20px;
}

#banner {
    grid-area: banner;
    display: grid;
    text-align: center;
}

.huge {
    font-size: 5rem;
}

.medium {
    font-size: 3rem;
}

#about {
    grid-area: about;
    display: grid;
    justify-items: center;
}

#projects {
    grid-area: projects;
    display: grid;
    justify-items: center;
}

#external {
    grid-area: external;
    display: grid;
    justify-items: center;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: var(--footer-background);
    padding: 1rem;
}

.big-icon {
    font-size: 15rem;
    padding-bottom: 1rem;
}

  
  