main {
    padding: 2rem 1rem;
    grid-template-areas: "banner"
                         "projects";
}

#projects {
    grid-area: projects;
}

.project {
    display: grid;
    grid-template-areas: "project-header project-header      project-header"
                         "project-img    project-description project-description"
                         "project-footer project-footer      project-footer";
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    box-shadow: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px 50px 30px;
}

@media only screen and (max-width: 800px) {   
    .project { 
        grid-template-areas: "project-header"
                             "project-description"
                             "project-footer";
    }

    .project-img {
        display: none;
    }
}

.project-header {
    grid-area: project-header;
    padding-left: 5rem;
    background: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
    font-size: 1.8rem;
}

.project-img {
    grid-area: project-img;
    margin: 1rem;
    height: 100%;
}

.project-img img{
    object-fit: cover;
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
}

.project-description {
    grid-area: project-description;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.project-description p {
    margin-bottom: 1rem;
}

.project-description a {
    color: var(--light-color);
    text-decoration-color: var(--blue-highlight);
}

.project-footer {
    grid-area: project-footer;
    margin: 1rem;
    margin-top: 0rem;
    padding-top: 1rem;
    border-top: 5px solid var(--light-color);
}