.blogCard {
    margin: 2rem;
    border-radius: 15px 40px 30px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}

.blogCard header {
    color: var(--blue-highlight);
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.blogCard p {
    padding: 1rem;
    padding-top: 0.25rem;
    margin-bottom: auto;
}

.blogLink {
    padding-top: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.imageContainer {
    width: 100%;
}