#container {
    padding: 2rem 1rem;
    grid-template-areas: "banner  banner"
                         "mission personal";
}

#banner {
    grid-area: banner;
    margin-bottom: 2rem;
    text-align: center;
}

#banner header {
    font-size: 5rem;
    color: var(--blue-highlight);
}

#banner p {
    font-size: 2rem;
}

#mission {
    grid-area: mission;
    justify-items: center;
    justify-content: center;
}

#mission p {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}

#mission p.solution {
    margin-bottom: 2rem;
}

#personal {
    grid-area: personal;
}

#personal a {
    color: var(--light-color);
    text-decoration: underline;
    text-decoration-color: var(--blue-highlight);
}

