#container {
    display: grid;
    grid-template-areas: "banner banner   banner"
                         "about  projects external";
    margin-top: 5rem;
}

@media only screen and (max-width: 950px) {    
    #container {
        grid-template-areas: "banner"
                             "about"
                             "projects"
                             "external";
        margin-bottom: 5rem;
    }

    #container section {
        padding: 2rem;
    }
}

#banner {
    grid-area: banner;
    margin-bottom: 2rem;
}

#about {
    grid-area: about;
    justify-items: center;
}

#projects {
    grid-area: projects;
    justify-items: center;
}

#external {
    grid-area: external;
    justify-items: center;
}

#banner header {
    font-size: 5rem;
    color: var(--blue-highlight);
}

#banner p {
    font-size: 2rem;
}

#container section {
    text-align: center;
}

#container a {
    font-size: 2rem;
    margin-top: 2rem;
}

.bigIcon {
    font-size: 5rem;
}

  
  