#container {
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 2rem;
    padding-bottom: 4rem;
    background: rgba(0, 0, 0, 0.7);
}

#banner {
    margin-bottom: 2rem;
    padding: 1rem;
}

#banner header {
    text-align: center;
    font-size: 5rem;
    color: var(--blue-highlight);
}

#banner aside {
    text-align: center;
}