#container {
    display: grid;
    grid-template-areas: "banner"
                         "projects";
}

#banner {
    grid-area: banner;
    margin-bottom: 2rem;
    text-align: center;
}

#banner header {
    font-size: 5rem;
    color: var(--blue-highlight);
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.projectCard {
    margin: 2rem;
    border-radius: 15px 40px 30px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}

.projectCard header {
    color: var(--blue-highlight);
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.projectCard p {
    padding: 1rem;
    padding-top: 0.25rem;
    margin-bottom: auto;
}

.projectLink {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.imageContainer {
    width: 100%;
}

.imageContainer > div {
    position: unset !important;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}



