#container {
    display: grid;
    grid-template-areas: "banner"
                         "projects";
}

#banner {
    grid-area: banner;
    margin-bottom: 2rem;
    text-align: center;
}

#banner header {
    font-size: 5rem;
    color: var(--blue-highlight);
}

#projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1300px) {   
    #projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {   
    #projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {   
    #projects {
        grid-template-columns: repeat(1, 1fr);
    }
}



