@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

:root {
    --light-color: #EDF5E1;
    --blue-highlight: #2E9CCA;
    --hover-highlight: #29648A;
    --bad-highlight-background: red;
    --bad-highlight-color: white;
    --good-highlight-background: var(--blue-highlight);
    --good-highlight-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

body {
    font-family: "Overpass Mono", sans-serif;
    background: url('../public/img/background.jpg');
    background-size: cover;
    color: var(--light-color);
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    height: 4rem;
    display: grid;
    grid-template-areas: "brand nav";
    align-content: space-between;
    background: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

#main {
    margin-top: 4rem;
}

a {
    text-decoration-color: var(--blue-highlight);
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration-color: red;
}

#main-header a {
    font-size: 2rem;
}

#brand {
    grid-area: brand;
}

#brand a {
    text-decoration: none;
    color: var(--blue-highlight);
}

#nav {
    grid-area: nav;
    text-align: right;
    margin-top: 0.5rem;
}

#nav a {
    margin: 0.5rem;
    padding: 1rem;
}

#main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

@media only screen and (max-width: 1100px) {    
    #main-header {
        grid-template-areas: "brand"
                             "nav";
    }

    #brand, #nav {
        text-align: center;
    }
    
    #nav a {
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
    }

    #main {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 600px) {  
    #main-header {
        position: relative;
    }

    #main {
        margin-top: 15rem;
    }

    #nav a {
        display: block;
        font-size: 1.2rem;
    }
}