@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

:root {
    --light-color: #EDF5E1;
    --blue-highlight: #2E9CCA;
    --hover-highlight: #29648A;
    --bad-highlight-background: red;
    --bad-highlight-color: white;
    --good-highlight-background: var(--blue-highlight);
    --good-highlight-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #container {
    height: 100vh;
}



#container {
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: "Overpass Mono", sans-serif;
    padding-top: 1rem;
    background: url('../public/img/background.jpg');
    background-size: cover;
    color: var(--light-color);
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    height: 4rem;
    display: grid;
    grid-template-areas: "brand nav";
    align-content: space-between;
    background: rgba(0, 0, 0, 0.7);
}

#main-header a {
    text-decoration-color: var(--blue-highlight);
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

@media only screen and (max-width: 1400px) {    
    #main-header {
        grid-template-areas: "brand"
                             "nav";
    }

    #nav a {
        display: block;
        text-align: center;
    }
}



#brand {
    grid-area: brand;
}

#brand a {
    text-decoration: none;
    color: var(--blue-highlight);
}

#nav {
    grid-area: nav;
    text-align: right;
}

#nav a {
    margin: 1rem;
    padding: 1rem;
}

#main {
    padding: 4rem 1rem;
    display: grid;
    grid-template-areas: "banner  banner    banner"
                         "about   projects  external";
    align-items: center;
}

#banner {
    grid-area: banner;
    display: grid;
    text-align: center;
}

#main-footer {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}